@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Roboto+Mono&family=Ubuntu&display=swap');


.navbar-div {
    display: flex;
    justify-content: space-between;
    height: 10vh;
    padding-left: 100px;
    padding-right: 100px;
    background-color:rgba(53, 51, 67, 1);
    border-bottom: 2px solid rgba(138, 180, 248, 1);
}

.navbar-div ul {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.navbar-div ul a{
    color: aliceblue;
    font-family: 'Roboto Mono', monospace;
    margin-right: 200px;
    font-size: 32px;
    padding: 50px;
    text-decoration-line: none;
}

div #logo-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
    margin-left: 200px;
    
}

div #logo{
    background-color: antiquewhite;
    height: 80px;
    width: 350px;
}
