header{
  background-image: url("/Users/vinhnguyen/Documents/DevMountain/f25/spec/Week 3/css-basic-clone/portfolio/src/img/headerView2.png");
    height:1250px;
}

header.light{
  background-image: url("/Users/vinhnguyen/Documents/DevMountain/f25/spec/Week 3/css-basic-clone/portfolio/src/img/headerView2.png")
}

button {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  font-size: 17px;
  line-height: 1.1764805882;
  font-weight: 400;
  letter-spacing: -0.022em;
  font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
  min-width: 28px;
  padding: 8px 16px;
  border-radius: 980px;
  background: #0071e3;
  color: #fff;
  border: none;
}

div.text-center h2 {
  font-size: 64px;
  line-height: 1.0625;
  font-weight: 600;
  letter-spacing: -0.009em;
  font-family: SF Pro Display,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
}

div.text-center h3 {
  display: inline-block;
    overflow: hidden;
    margin-top: 0;
    font-family: Sfprodisplay,Arial,sans-serif;
    color: #0071e3;
    font-size: .83em;
    line-height: 1.2;
    font-weight: 400;
    text-align: left;
    letter-spacing: 8px;
    text-transform: uppercase;
}

