@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Roboto+Mono&family=Ubuntu&display=swap');

.header-page-div {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 90vh;
  background-color: rgba(53, 51, 67, 1);
  align-items: center;
}
.header-container-div{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
}
.text-content-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* table container */
.tables-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.table-component-wrap{
  margin-top: 150px;
  display: flex;
  flex-direction: column;
}

.table-component-wrap h3{
  text-align: center;
  margin-bottom: 100px;
  color: rgba(138, 180, 248, 1);
}

/* table component */
table, th, td{
  border: 4px solid rgba(138, 180, 248, 1);
  border-collapse: collapse;
  width: 600px;
}

th, li {
  color:rgba(138, 180, 248, 1);
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 7px;
  padding-bottom: 5px;
}
.table-content{
  align-self: center;
  font-size: 30px;
}
li{
  margin: 8px;
}

/* // */

.banner-text-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  height: 40vh;
  margin-left: 50px;
}
.banner-text-div h2, p{
  color: rgb(216, 215, 215);
  font-family: 'Roboto Mono', monospace;
}
.banner-text-div h2{
  font-size: 94px;
}


/* 
buttons */

#header-buttons{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

#header-buttons button{  
  margin-right: 40px;
  width: 350px;
  height: 90px;
  font-size: 34px;
}
#certificate-btn {
  background-color: transparent;
  border: 4px solid rgba(138, 180, 248, 1);
  color: rgba(138, 180, 248, 1);
}
#resume-btn{
  background-color: rgb(120, 158, 219);
  color:white;
  border: none;
}